pkgbase = trustsight
	pkgdesc = A CLI tool to vet AUR package updates before install
	pkgver = 0.10.0
	pkgrel = 1
	url = https://github.com/emiliano-go/trustsight
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-hatchling
	makedepends = python-pytest
	depends = python
	depends = python-pygit2
	depends = python-tldextract
	depends = python-rich
	depends = python-typer
	optdepends = python-cryptography: baseline artifact signing
	optdepends = pyalpm: native version comparison (faster discovery)
	source = trustsight-0.10.0.tar.gz::https://github.com/emiliano-go/trustsight/archive/refs/tags/v0.10.0.tar.gz
	sha256sums = e3cd770d235679e370fd6b9aa3bc43a78bd95ca87c741245907abe375812f256

pkgname = trustsight
