pkgbase = trustsight
	pkgdesc = Audits AUR PKGBUILD updates before install: structure, commands, novelty
	pkgver = 0.18.0
	pkgrel = 1
	url = https://github.com/emiliano-go/trustsight
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-hatchling
	makedepends = python-pytest
	makedepends = python-hypothesis
	depends = python
	depends = python-pygit2
	depends = python-tldextract
	depends = python-rich
	depends = python-typer
	depends = python-cryptography
	optdepends = pyalpm: native version comparison (faster discovery)
	source = trustsight-0.18.0.tar.gz::https://github.com/emiliano-go/trustsight/releases/download/v0.18.0/trustsight-0.18.0.tar.gz
	sha256sums = 81227bf6ba2e629cddd9e51bbb6be78657a11864517223f1a3f24a347d75d508

pkgname = trustsight
